
body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .dark-mode {
    background-color: #121212;
    color: #f1f1f1;
  }

  .dark-mode .card {
    background-color: #1e1e1e;
    color: white;
  }

  @media (max-width: 768px) {
    h1.display-4 {
      font-size: 2rem;
    }
  }
